.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.profile {}

.profile .profile__header {
  margin-bottom: 20px;
  text-align: center;
}

.profile .profile__username {
  font-weight: bold;
}
